<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <footer th:fragment="footer" class="bg-dark text-white py-3 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2025 Product Management System</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <p>All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>